@font-face {
    font-family: 'RoboMono';
    src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'RoboMono';
}

header {
    position: sticky;
    top: 0;
}

.botaoMenu {
    display: none;
    align-items: center;
    justify-content: center;
    height: 60px;
}

#checkboxMenu {
    position: absolute;
    width: 50px;
    opacity: 0;
}

#checkboxMenu~label {
    display: block;
    position: relative;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#checkboxMenu~label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: skyblue;
    transition: 0.25s ease-in-out;
}

#checkboxMenu~label span:nth-child(1) {
    top: 0;
}

#checkboxMenu~label span:nth-child(2) {
    top: 12px;
}

#checkboxMenu~label span:nth-child(3) {
    top: 24px;
}

#checkboxMenu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 12px;
}

#checkboxMenu:checked+label span:nth-child(2) {
    opacity: 0;
}

#checkboxMenu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 12px;
}

#conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #291e38;
}


#cabecalho a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin: 0 4px;
}

.nome {
    font-style: inherit;
    font-size: 25px;
    color: #fff;
}

#cabecalho input {
    padding-left: 10px;
    margin-right: 40px;
    width: 200px;
    height: 30px;
    background-color: #503e69;
    border-radius: 8px;
    border: 1px solid gray;
}

#cabecalho input:focus {
    border: none;
    outline: 0;
}

#linkedin {
    background: url("icons/icons8-linkedin-96.png") no-repeat;
    background-size: contain;
}

#github {
    background: url("icons/icons8-github-96.png") no-repeat;
    background-size: contain;
}

#facebook {
    background: url("icons/icons8-facebook-96.png") no-repeat;
    background-size: contain;
}

#e-mail {
    background: url("icons/icons8-mensagem-preenchida-96.png") no-repeat;
    background-size: contain;
}

#instagram {
    background: url("icons/icons8-instagram-96.png") no-repeat;
    background-size: contain;
}

#whatsapp {
    background: url("icons/icons8-whatsapp-96.png") no-repeat;
    background-size: contain;
}

#pt1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background: url("images/background.png") no-repeat;
}

#apresentacao {
    margin-right: 20px;
    width: 500px;
    height: 350px;
    padding: 10px;
    border-radius: 15px;
    background-color: #0a0a0ad9;
}

#apresentacao h1 {
    font-size: 45px;
    color: skyblue;
}

#apresentacao p {
    font-size: 1.4em;
    color: #fff;
}

#faixa {
    width: 100%;
    height: 250px;
    background-color: skyblue;
    text-align: center;
}

#pt2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background: url("images/background2.png") no-repeat;
    /*https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80 */
}


.slide {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 440px;
    border-radius: 10px;
    background-color: #0a0a0ad9;
}

.image {
    margin: 20px 20px 10px 20px;
    width: 280px;
    height: 160px;
    border-radius: 5px;
}

.description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 284px;
    height: 148px;
    color: #fff;
}

.title {
    font-size: 28px;
    color: skyblue;
}

.text-description {
    font-size: 14px;
    margin-top: 15px;
}

.footer {
    display: flex;
    align-self: center;
}

.lado {
    transform: translateX(300px);
}

.see-more {
    align-self: center;
    width: 100px;
    height: 30px;
    margin-top: 57px;
    border-radius: 5px;
    border: none;
    background-color: #5BBAFF;
    color: #fff;
}

.see-more:hover {
    cursor: pointer;
    box-shadow: 0 0 8px white;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 240px;
    border-top: solid 8px skyblue;
    background-color: #1b1420;
}

#conteudoFooter {
    display: flex;
    margin-bottom: 10px;
}

#conteudoFooter strong {
    color: skyblue;
}

#conteudoFooter h2 {
    margin-bottom: 10px;
    color: rgb(133, 146, 158);
}

#conteudoFooter ul {
    margin-left: 5%;
    list-style: none;
    font-style: none;
}

#conteudoFooter li {
    padding-top: 5px;
}

#conteudoFooter li a {
    text-decoration: none;
    color: #fff;
}

#conteudoFooter li a:hover {
    color: #b2dafad9;
}

#contatosFooter {
    display: flex;
    flex-direction: column;
}

#contatosFooter span {
    width: 100%;
    font-size: 22px;
}

footer span {
    position: relative;
    width: 230px;
    left: 50%;
    right: 50%;
    font-size: 12px;
    color: #fff;
}

@media (max-width: 980px) {
    .nome {
        margin-right: 30px;
    }

    .pesquisa {
        display: none;
    }

    .botaoMenu {
        display: flex;
        margin-left: 30px;
    }

    .contatos {
        display: none;
        margin-left: 30px;
    }

    .contatos a {
        width: 100%;
        color: #fff;
        text-decoration: none;
        border-bottom: solid 1px #fff;
    }

    #conteudo {
        height: 100px;
    }

    #cabecalho a {
        width: 100%;
        margin-top: 20px;
        padding-left: 20px;
        background: none;
    }

    .contatos {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: -480px;
        width: 80%;
        background: #291e38;
    }

    #apresentacao {
        margin-left: 5%;
        overflow: scroll;
    }

    #pt2 {
        display: block;
        flex-direction: column;
        overflow: scroll;
        padding-bottom: 20px;
    }

    .slide {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .see-more {
        margin-bottom: 10px;
    }

    #contatosFooter {
        display: none;
    }

    footer span {
        position: relative;
        margin-left: -30%;
    }
}

@media (min-width: 981px) and (max-width: 1100px) {
    .nome {
        margin-right: 20px;
    }

    .pesquisa {
        display: none;
    }

    .botaoMenu {
        display: none;
    }

    .contatos {
        display: flex;
    }
}