@font-face {
    font-family: 'RoboMono';
    src: url('./fonts/RobotoMono-Thin.ttf');
  }
  
* {
    font-family: 'RoboMono';
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
}

.botaoMenu {
    height: 60px;
    display: none;
    align-items: center;
    justify-content: center;
}

#checkboxMenu {
    width: 50px;
    position: absolute;
    opacity: 0;
}

#checkboxMenu ~ label {
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
}

#checkboxMenu ~ label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: skyblue;
    transition: 0.25s ease-in-out;
}

#checkboxMenu ~ label span:nth-child(1) {
    top: 0;
}

#checkboxMenu ~ label span:nth-child(2) {
    top: 12px;
}

#checkboxMenu ~ label span:nth-child(3) {
    top: 24px;
}

#checkboxMenu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 12px;
}

#checkboxMenu:checked + label span:nth-child(2) {
    opacity: 0;
}

#checkboxMenu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 12px;
}

#conteudo {
    height: 60px;
    background-color: #291e38;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#cabecalho a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin: 0 4px;
}

.nome {
    font-size: 25px;
    font-style: inherit;
    color: #fff;
}

#cabecalho input {
    width: 200px;
    height: 30px;
    margin-right: 40px;
    padding-left: 10px;
    background-color: #503e69;
    border-radius: 8px;
    border: 1px solid gray;
}

#cabecalho input:focus {
    border: none;
    outline: 0;
} 

#linkedin {
    background: url("icons/icons8-linkedin-96.png") no-repeat;
    background-size: contain;
}

#github {
    background: url("icons/icons8-github-96.png") no-repeat;
    background-size: contain;
}

#facebook {
    background: url("icons/icons8-facebook-96.png") no-repeat;
    background-size: contain;
}

#e-mail {
    background: url("icons/icons8-mensagem-preenchida-96.png") no-repeat;
    background-size: contain;
}

#instagram {
    background: url("icons/icons8-instagram-96.png") no-repeat;
    background-size: contain;
}

#whatsapp {
    background: url("icons/icons8-whatsapp-96.png") no-repeat;
    background-size: contain;
}

#pt1 {
    background: url("images/background.png") no-repeat; /* https://miro.medium.com/max/3840/1*ee9Ji2ToUxeYfj3YUQ1xsA.jpeg */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#apresentacao {
    width: 500px;
    height: 350px;
    background-color: #0a0a0ad9;
    padding: 10px;
    border-radius: 15px;
    margin-right: 20px;
}

#apresentacao h1 {
    color: skyblue;
    font-size: 45px;
}

#apresentacao p {
    color: #fff;
    font-size: 1.4em;
}

#faixa {
    width: 100%;
    height: 250px;
    background-color: skyblue;
    text-align: center;
}

/* .projects-title {
    color: white;
    font-size: 6em;
    position: relative;
} */

#pt2 {
    background: url("images/background2.png") no-repeat; /*https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80 */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* #projetos {
    display: flex;
    flex-direction: row;
    margin-left: -335px;
    font-size: 35px;
    color: #fff
}

#projetos nav {
    width: 300px;
    height: 420px;
    background-color: rgba(10, 10, 10, 0.85);
    padding: 10px;
    border-radius: 15px;
}

#projetos h2 {
    font-size: 40px;
    text-align: center;
}

#projetos ul {
    margin-top: 10px;
    list-style: none;
    text-align: center;
}

#projetos li {
    border-bottom: solid 1px black;
    height: 50px;
}

#projetos li a{
    text-decoration: none;
    color: #fff;
}

#projetos li:hover {
    background-color: rgb(58, 56, 56, 0.8);
    cursor: pointer;
}

#btnLateral {
    background: none;
    border: none;
    margin-left: 20px;
    cursor: pointer;
    font-size: 80px;
    color:skyblue;
}

#btnLateral:hover {
    color: rgb(192, 211, 226);
} */

.slide {
    background-color: #0a0a0ad9;
    width: 320px;
    height: 440px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.image {
    margin: 20px 20px 10px 20px;
    border-radius: 5px;
    width:280px;
    height:160px;
}

.description {
    width: 284px;
    height: 148px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.title {
    font-size: 28px;
    color: skyblue;
}

.text-description {
    font-size: 14px;
    margin-top: 15px;
}

.footer {
    display: flex;
    align-self: center;
}

.lado {
    transform: translateX(300px);
}

.see-more {
    width: 100px;
    height: 30px;
    background-color: #5BBAFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    align-self: center;
    margin-top: 57px;
}

.see-more:hover {
    cursor: pointer;
    box-shadow: 0 0 8px white;
}

/* ate aqui */

footer {
    border-top: solid 8px skyblue;
    height: 240px;
    background-color: #1b1420;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#conteudoFooter {
    display: flex;
    margin-bottom: 10px;
}

#conteudoFooter strong {
    color: skyblue;
}

#conteudoFooter h2 {
    margin-bottom: 10px;
    color: rgb(133, 146, 158);
}

#conteudoFooter ul {
    margin-left: 5%;
    list-style: none;
    font-style: none;
}

#conteudoFooter li {
    padding-top: 5px;
}

#conteudoFooter li a {
    text-decoration: none;
    color: #fff;
}

#conteudoFooter li a:hover {
    color: #b2dafad9;
}

#contatosFooter {
    display: flex;
    flex-direction: column;
}

#contatosFooter span {
    width: 100%;
    font-size: 22px;
}

footer span {
    width: 230px;
    font-size: 12px;
    position: relative;
    left: 50%;
    right: 50%;
    color: #fff;
}

@media (max-width: 980px) {
    .nome { margin-right: 30px; }
    .pesquisa { display: none; }
    .botaoMenu {
        display: flex;
        margin-left: 30px;
    }

    .contatos {
        display: none;
        margin-left: 30px;
    }

    .contatos a {
        width: 100%;
        border-bottom: solid 1px #fff;
        color: #fff;
        text-decoration: none;
    }

    #conteudo {
        height: 100px;
    }

    #cabecalho a {
        background: none;
        width: 100%;
        margin-top: 20px;
        padding-left: 20px;
    }

    .contatos {
        margin-top: -480px;
        background: #291e38;
        width: 80%;
        position: absolute;
        display: flex;
        flex-direction: column;
    }

    #apresentacao {
        overflow: scroll;
    }

    #pt2 {
        flex-direction: column;
        overflow: scroll;
        display: block;
        padding-bottom: 20px;
        /* padding-left: 30px; */
    }

    .slide {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .see-more {
        margin-bottom: 10px;
    }

    #contatosFooter {
        display: none;
    }

    footer span {
    position: relative;
    padding-left: auto;
    padding-right: auto;
    }
}

@media (min-width: 981px)  and (max-width: 1100px) {
    .nome { margin-right: 20px; }
    .pesquisa { display: none; }
    .botaoMenu { display: none; }
    .contatos { display: flex; }
}
